.newsletter {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
.submit {
  border-radius: 20px;
  box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
}
.wecanhelp:after {
  position: absolute;
  content: "";
  width: 148px;
  height: 148px;
  transform: rotate(90deg);
  flex-shrink: 0;
  border-radius: 0px 0px 79px 0px;
  background: #c1f0fb;
  z-index: -1;
  bottom: -9%;
  left: -2%;
  @media (max-width: 768px) {
    width: 0;
    height: 0;
  }
}
.wecanhelp:before {
  position: absolute;
  content: "";
  background: url("../assets/dotdot.svg");
  width: 148px;
  height: 148px;

  z-index: -1;
  top: -20%;
  right: -3%;
  @media (max-width: 768px) {
    width: 0;
    height: 0;
  }
}
.herosection {
  // @media (min-width: 768px) {
    // height: 120vh;
    background: url("../assets/herobg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  // }
  // background-attachment: fixed;
}

.each-semibox:nth-child(even) {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.each-semibox:nth-child(odd) {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.each-semibox::before {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  display: flex;
  border: 5px solid white;
  align-items: center;
  justify-content: center;
  color: white;
  background: #174275;
}
.each-semibox:nth-child(odd)::before {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 16px;
  font-weight: bold;
  left: 32%;
  top: -18%;
  border-radius: 100px;
  display: flex;
  border: 5px solid white;
  align-items: center;
  justify-content: center;
  color: white;
  background: #174275;
}
.each-semibox:nth-child(even)::before {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 16px;
  font-weight: bold;
  left: 34%;
  bottom: -18%;
  border-radius: 100px;
  display: flex;
  border: 5px solid white;
  align-items: center;
  justify-content: center;
  color: white;
  background: #174275;
}

.each-semibox:nth-child(odd)::after {
  // content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border: 1px solid #ff6341;
  z-index: 1;
}
.contactform {
  min-height: 81vh;
  background: url("../assets/form.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 768px) {
    background-size: cover;
  }
}
.thankspageform {
  height: 61vh;
  background: url("../assets/form.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.thankyoupage {
  background: linear-gradient(to right, #ffffff, #c7dcf1);
}

.ReactModal__Overlay {
  background: rgb(166, 172, 183);
  background: linear-gradient(
    356deg,
    rgba(166, 172, 183, 1) 6%,
    rgba(46, 91, 244, 0.5) 100%
  );
}

.ReactModal__Content {
  border-radius: 20px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.explore {
  border-radius: 200px 0 0 200px;
  @media (max-width: 768px) {
    border-radius: 0px 0px 0px 0px;
  }
}

#rotateImage {
  animation: rotate360 10s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
